

.wizard {
  @include flexbox();
  @include flex-flow(column nowrap);
  @include justify-content(space-between);
  @include align-items(center);
  height: 100%;
  p {
    font-size: 18px;
  }
  .arrows {
    @include flexbox();
    @include flex-flow(row-reverse nowrap);
    @include justify-content(space-between);
    width: 100%;
  }
}
